
ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.deps.json
 
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/FacilietesAllDummy/.vs
/FacilietesAllDummy/FacilietesAllDummy/bin
/FacilietesAllDummy/packages
/FaculityReal/ConsoleApp2/.vs
/FaculityReal/ConsoleApp2/packages
/FaculityReal/ConsoleApp2/VAFacilitiesCons/obj
/FaculityReal/ConsoleApp2/VAFacilitiesCons/bin/Debug
/ImportFacultiesApi/ImportFacultiesApi/.vs
/ImportFacultiesApi/ImportFacultiesApi/ImportFacultiesApi/bin
/ImportFacultiesApi/ImportFacultiesApi/ImportFacultiesApi/Content
/ImportFacultiesApi/ImportFacultiesApi/ImportFacultiesApi/fonts
/ImportFacultiesApi/ImportFacultiesApi/ImportFacultiesApi/obj/Debug
/ImportFacultiesApi/ImportFacultiesApi/packages
